@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

h1{font-size: 2.5rem;}
h2{font-size: 2.2rem;}
h3{font-size: 2rem;}
h4{font-size: 1.8rem;}
h5{font-size: 1.6rem;}
h6{font-size: 1.4rem;}
strong{font-weight: 600;}

a{
    color: $primary;
    text-decoration: none;
    transition: 300ms ease-in-out all;
    &:hover{
        color: darken($primary, 20);
    }    
}

p{
    line-height: 180%;
}