@include scrollbars(.5em, slategray);

body{
    -webkit-font-smoothing: antialiased;
    font-family: arial, serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-x: hidden;
}

*:focus{outline: 0; border: 0;}

.block-region{
    color: #000 !important;
    padding: 10px;
    font-weight: bold;
    border-radius: 0.25rem;
}

main{
    padding: 60px 0;
}

section{
    padding: 40px 0;
    text-align: center;
}

.pushes{
    background: #eee;

    .card{
        background: #fff;
        padding: 40px;
        margin: 20px;
        border-radius: 5px;
        text-align: left;
    }
}