@include scrollbars(.5em, slategray);

body{
    -webkit-font-smoothing: antialiased;
    font-family: arial, serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background: #fff;
}

main{
    padding: 60px 0;
}