header{
    background: #000;
    color: #fff;
    padding: 20px;

    a{color: #fff;}
    img{display: none;}

    .main-navigation{
        li{
            display: inline;
            margin-right: 1rem;
            &:last-child{margin: 0;}
        }
    }
}

#slider{
    height: 400px;
    background: #eee;
}