header{
    background: rgba(0, 0, 0, 0.85);
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 2;
    
    img{display: none;}

    // SITE NAME
    .site-name a{
        color: #fff;
        font-weight: bold;
        margin-right: 1rem;
    }

    // MENU TOGGLE BUTTON
    .toggle{
        float: right;
        position: absolute;
        right: 20px;
        top: 18px;
        cursor: pointer;
        font-size: 1.3rem;
        color: #fff;
        @media(min-width: 600px){
            display: none !important;
        }
    }


    .active{display: block !important; color: $primary !important;}
    .is-active{color: $primary !important;}

    // MENU
    .nav{
        z-index: 2;
        .nav-item{
            display: inline;
            margin-right: 1rem;
            &:last-child{margin-right: 0;}
            a{
                color: #fff;
                &:hover{color: $primary;}
            }
        }

        @media(max-width: 600px){        
        left: 0;
        position: absolute;
        display: none;
        width: 100%;
        padding: 0px 20px 10px;
        background: rgba(0, 0, 0, 0.85);
        top: 56px;
            .nav-item{
                display: block;
                padding: 10px 0;
                margin: 0;
            }
        }
    }
}

#slider{
    height: 550px;
    background: #eee;
    background-image: url(https://static.pexels.com/photos/306534/pexels-photo-306534.jpeg);
    background-size: cover;
    background-position: center center;

    .overlay{
        width: 100%;
        height: calc(100% - 150px);
        top: 150px;
        position: relative;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }

}