  {% if page.footer %}
    <footer role="contentinfo">
      <div class="row">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

    <div class="copy">
      <div class="row">
        
        <div class="small-12 medium-6">
            <div class="float-left copyright">
              <strong>Copyright &copy; 2017 - Company name</strong><br>
              <span>Produced by <a href="">Visit Group</a> with <a href="">Citybreak™ Information & Reservation System</a></span>
            </div>
        </div>

        <div class="small-12 medium-6">
            <div class="social float-right">
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
              <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            </div>
        </div>

      </div>
    </div>