  {% if page.footer %}
    <footer role="contentinfo">
      <div class="row">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

    <div class="copy">
      <div class="row">
        <div class="small-12">
            <div class="float-left">
              &copy; 2017
            </div>

            <div class="float-right">
              <a href="">Go to top</a>
            </div>
        </div>
      </div>
    </div>