{% include directory ~ '/partials/header.html.twig' %}
  <main>
    <div class="row">

      <div class="medium-8 columns">
        {{ page.content }}
      </div>

      {% if page.sidebar %}
        <aside class="small-12 medium-4 columns" role="complementary">
          {{ page.sidebar }}
        </aside>
      {% endif %}
    </div>
  </main>
  {% include directory ~ '/partials/footer.html.twig' %}
